.films_management{
    // padding-top: 20px;
    position: relative;
    display: flex;

    .container{
        .content{
            .btn.add-film{
                margin: 12px 0;
            }
        }
    }
   
}